* {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.para {
  display: flex;
  flex-wrap: wrap;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 5px;
  border-right: 2px solid black;
}

.details {
  padding: 5px;
}
